{% extends "awsreviews/base.html" %}
{% block content %}
<h4>The Search Enterprise is providing TUTORIAL type examples to build and maintain Search & Discovery Engines</h4>
<p>
<hr>
<p>
<h4>Topics</h4>
<p>
<ul>
	<li>HOw to buiild Solr Cloud with MILLLIONS of data</li>
	<li>Solr Query Examples - how to make queries for various examples for beginner to advanced users</li>
	<li>What is Streaming Expression?</li>
	<li>How to build the Monitoring and Metrics system for Solr Cloud</li>
	<li>ElasticSearch</li>
</ul>

<p>
<h5>The topics will be updated and added later. Please visit later for more details and examples</h5>

{% endblock content %}

