{% extends "awsreviews/base.html" %}
{% block content %}
<h3>Monitoring Solr with Prometheus and Grafana</h3>

<a href="https://lucene.apache.org/solr/guide/7_3/monitoring-solr-with-prometheus-and-grafana.html" traget="_blank">Solr Wiki Page</a>
<hr>
<ul>
	<li> <a href="https://snapshot.raintank.io/dashboard/snapshot/BaFGGtMtAUfqO6xDuwF89gdInJlT76iA" target="_blank">Grafana Dashboard - Snapshot</a> </li>
      	<li> <a href="/metrics/result" target="_blank">Solr Metrics</a></li>
      	<li> <a href="/collection/result" target="_blank">Solr Cloud cluster status</a></li>
</ul>


{% endblock content %}

