{% extends "awsreviews/base.html" %}
{% block content %}
   <div>
       <h2>Solr Queries</h2>
<hr>

       <h3>Collection - 20 millions of Amazon Reviews.</h3>
<a href="https://s3.amazonaws.com/amazon-reviews-pds/readme.html" target="_blank">Amazon Customer Reviews</a>
        </div>
<hr>
<br/>

    <div >
       	<p><label>query:</label> <br/>
    	<textarea rows="4" cols="50" name="query" form="searchForm"> Enter lucene query here...</textarea>
    	<form method="GET" action="/search/result" id="searchForm" >
        	<button type="submit" class="save btn btn-default">Search</button>
    	</form>
    </div>
<hr>
<ul>
        <li><p>Searches</p></li>
                <ul>
                        <li><a href="/search/result?query=facet.field%3Dstar_rating%26facet%3Don%26q%3Dproduct_id%253AB001FA1NUK%26rows%3D0">Facet  by star-ratings</a>
                </ul>
                <ul>
                        <li><a href="/search/result?query=q%3Dproduct_title:(hdmi%2520AND%2520cable)%26rows%3D0%26facet%3Dtrue%26facet.pivot%3Dproduct_id%2Cstar_rating%26facet.limit%3D10" target="_blank">Facet by Product_id and star-ratings (Pivot)</a>
                        <li><a href="/search/result?query=q%3Dproduct_title:(hdmi%2520AND%2520cable)%26rows%3D0%26facet%3Dtrue%26facet.pivot%3Dproduct_id%2Cstar_rating%26facet.limit%3D10" target="_blank">Facet by Product_id and star-ratings (Pivot)</a>
                </ul>
                <ul>
                        <li><a href="/search/result?query=facet.limit%3D5%26facet.pivot.mincount%3D10%26facet.pivot%3Dreview_date%252Ccustomer_id%26facet%3Don%26q%3D*%253A*%26rows%3D0" target="_blank">Facet by reviews_date and customer_id (Pivot)</a>
                        <li><a href="/search/result?query=facet.limit%3D5%26facet.pivot.mincount%3D10%26facet.pivot%3Dcustomer_id%252Creview_date%26facet%3Don%26q%3D*%253A*%26rows%3D0" target="_blank">Facet by customer_id  and review_date(Pivot)</a>
                </ul>
		<br/>
                <ul>
                        <li><a href="/search/result?query=fl%3Dreview_id%2Cproduct_title%2Creview_headline%26mlt%3Dtrue%26mlt.match.include%3Dtrue%26mlt.mintf%3D1%26mlt.mindf%3D1%26q%3Did%3AR3K6K40KCJVGXO%26mlt.fl%3Dreview_headline%2Creview_headline%26mlt.count%3D10%26wt%3D%0A">MoreLikeThis by single document</a>
                        <li><a href="/search/result?query=fl%3Dreview_id%2Cproduct_title%2Creview_headline%26mlt%3Dtrue%26mlt.match.include%3Dtrue%26mlt.mintf%3D1%26mlt.mindf%3D1%26q%3Dproduct_title:(hdmi%2520AND%2520cable)%26rows%3D5%26mlt.fl%3Dreview_headline%2Creview_headline%26mlt.count%3D10%26wt%3D%0A">MoreLikeThis by search result</a>
                </ul>
		<br/>
                <ul>
                        <li><a href="/search/result?query=fl%3Did%26hl.fl%3Dreview_body%26hl.fragsize%3D100%26hl.snippets%3D1%26hl%3Don%26q%3Dreview_body%253Ahate">Snippets</a>
        <li><p>Terms  Queries</p></li>
		</ul>
                <ul>
                        <li><a href="/terms/result?query=terms.fl%3Dproduct_title_str%26terms.prefix%3Da%26terms.mincount%3D5%26terms.limit%3D5">Auto Completing (Type Ahead)</a>
                </ul>
                <ul>
                        <li><a href="/terms/result?query=terms.fl%3Dproduct_title_str%26terms.regex%3D.*hdmi.*%26terms.mincount%3D5%26terms.limit%3D5">Auto Completing (regex)</a>
                </ul>
</ul>
<hr>
<br/>
    <div >

       	<p><label>streaming expr:</label> <br/>
    	<textarea rows="4" cols="50" name="expr" form="exprForm"> Enter streaming expression here...</textarea>
    	<form method="GET" action="/search/result" id="exprForm" >
        	<button type="submit" class="save btn btn-default">Submit</button>
    	</form>
    </div>
<hr>
<ul>
        <li><p>Streaming Expression</p></li>
                <ul>
                        <li><a href='/stream/result?expr=search(reviews,q="product_title:(hdmi AND cable)",fl="id, product_title,star_rating",rows=1000,sort="id asc")'>List first 1000 matched documents</a>
                        <li><a href='/stream/result?expr=let(samples=search(reviews,q="product_title:(hdmi AND cable)",fl="id, product_title,star_rating",rows=1000,sort="id asc"),responses=col(samples,star_rating),summary=describe(responses))'>Summary of star-ratings for (hdmi AND cable)</a>
		</ul>
</ul>
{% endblock content %}

